<!DOCTYPE html>
<html>
    <head>
        <!-- 声明当前页面编码集:utf-8国际编码 -->
        <meta http-equiv='Content-type' content='text/html; charset=utf-8'/>
        <title>please enter your title</title>
        <!-- 关键词字数限制在31字，用英文逗号隔开 -->
        <meta name="Keywords" content="TT">
        <!-- 简介描述 -->
        <meta name="description" content="TT">
        <link rel = "shortcut icon" href="http://www.ttistt.com//icon/ttico.ico">
        <style>
            *{margin:0;padding:0;}
            ul{list-style:none;}
        </style>
    </head>
    <body>
        <div id="box"></div>
        <script>
            document.onclick = ()=>{
                const xhr = new XMLHttpRequest();
                xhr.open("post","http://localhost:3000/user",true);
                xhr.send("user=admin&pwd=123456");
                xhr.onload = function () {
                    if(xhr.readyState === 4 || xhr.status === 200){
                        console.log(xhr.response);
                    }
                }
            }
        </script>
    </body>
</html>